<%- include('partials/header') %>
<%- include('partials/menu') %>

<main>
    <h1>Média</h1>
    <section class="media-content">
        <!-- Ide jöhetnek a média elemek -->
        <p>Ez a média oldal tartalma.</p>
    </section>
</main>

<%- include('partials/footer') %>